.main-form-card .row{
  height: 500px;
  margin-left:3px;
  padding-right: 20px;
}
.card {
  margin: 20px 0;
  background-color: #2b3261;
  border-radius: 0;
}
.card-header {
  background-color: #2b3261;
}
.side-container{
  border: 1px solid #aaa;
  height: 100%;
  padding: 0 12px;
}
.side-container a,.dropdown-btn {
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  border: 1px solid #aaaaaa;
  border-left: none;
  border-right: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 10px; 
  outline: none;
}
.side-container a{
  border: none;
  padding: 5px;
  padding-left: 3vw;
  font-size: 13px;
  color: #aaaaaa;
}
.dropdown-container {
  display: none;
  background-color: #2b3261;
  border: none;

}

.fa-caret-right {
  float: right;
  padding-right: 8px;
  color: tomato;
}