.tab {
  overflow: hidden;
  background-color: #353d6c;
}

.tab button {
  background-color: #3b4576;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 50px;
  transition: 0.3s;
  font-size: 13px;
  margin: 0 3px;
  border-radius: 8px 8px 0 0;
}

.tab button:hover {
  background-color: #2b3260;
}

.tab button.active {
  background-color: #2b3260;
}

.tabcontent {
  background-color: #2b3260;
  display: none;
  padding: 8px;
  border-radius: 0 9px 9px 9px;
  margin-left: 3px;
}
#webappscondition {
  background-color: #313768;
  border-radius: 0;
}

#assets > .col-lg-3 > .card {
  border-radius: 10px;
  background-color: #313768;
  height: 120px;
  color: white;
}
#assets > .col-lg-3 > .card > .container {
  padding: 15px;
}
#assets .col-lg-3 {
  padding: 0 10px;
  margin-right: -10px;
}

.webappdetails {
  padding: 0;
}
.webappdetails .card {
  margin: 0;
  border-radius: 5px;
  background-color: #313768;
  border: 1px solid #358df2;
}

.ucase div {
  margin-bottom: 0;
  margin-top: 0;
}
.performance {
  margin: 6px 0;
}
.align-center span {
  margin: 6px 0;
}
li.vuln-item {
  height: 80px;
  margin-bottom: 5px;
}

