/*
developed by Ashkan Ganj
Github: @Ashkan-Agc 
Email: agc.ashkan79@gmail.com

 */

.filter-form-container .col-6 {
  padding: 0;
}
.severitydetails {
  padding: 0;
}
.severitydetails .card {
  margin: 0;
  border-radius: 6px;
  background-color: #313768;
  border: 1px solid #358df2;
}

.filter-form {
  height: 45px;
  border: 2px solid #3b4576;
  padding: 0px 20px;
  border-radius: 5px;
}

.filter-form .row .col-9 {
  height: 100%;
  border-left: 1px solid white;
}
.table-card {
  background-color: #353d6c;
}
table {
  border-collapse:collapse;
  width: 100%;
  overflow-x: auto;
  height: 100%;
}
tr {
  color: white;
  font-size: 13px;
  padding: 0;
}
td{
  
}
th {
  background-color: #31396d;
}
tr:nth-child(even) {
  background-color: #31396d;
}
tr:nth-child(odd) {
  background-color: #3b4576;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}
.input-group{
  width: 40%;
  margin: 10px 0 0 0;
  padding: 0;
  border-radius: 10px;
}
.input-group input{
  width: 40%;
  background-color: #353d6c;
  color: white;
  border: 1px solid #aaa;
  border-radius: 0 5px 5px 0;
}
.input-group input:hover{
  background-color: #353d6c;
  border: 1px solid #aaa;

}
.input-group input:focus{
  background-color: #353d6c;
  border: 1px solid #fff;
  color: white;
}
.btn{
  color: white;
  border-radius: 0;
  border: 1px solid #aaa;
  border-radius: 5px 0 0  5px ;
}
.btn:hover{
  background-color: #353d6c;
}

.box-critical{
  height: 1.7rem;
  width:5rem;
  background-color: #bc3057;
  border-radius: 5px;
  text-align: center;
  padding-top: 1px;
}
.box-medium{
  height: 1.7rem;
  width:5rem;
  background-color: #eaa323;
  border-radius: 5px;
  text-align: center;
  padding-top: 1px;
}
.box-high{
  height: 1.7rem;
  width:5rem;
  background-color: #f7517f;
  border-radius: 5px;
  text-align: center;
  padding-top: 1px;
}
.box-info{
  height: 1.7rem;
  width:5rem;
  background-color: #16ceb9;
  border-radius: 5px;
  text-align: center;
  padding-top: 1px;
}
.vuln-count-item{
  padding:.2rem .5rem;
}